<configuration>
  <system.webServer>
    <!-- iisnode: tells IIS to run Node.js for this app -->
    <handlers>
      <add name="iisnode" path="server/dist/index.js" verb="*" modules="iisnode" />
    </handlers>

    <rewrite>
      <rules>
        <!-- All requests go through the Node.js server -->
        <rule name="NodeApp" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="server/dist/index.js" />
        </rule>
      </rules>
    </rewrite>

    <iisnode
      nodeProcessCommandLine="node"
      watchedFiles="web.config;*.js"
      loggingEnabled="true"
      debuggingEnabled="false"
    />

    <!-- Allow large request bodies for JSON payloads -->
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="52428800" />
      </requestFiltering>
    </security>
  </system.webServer>
</configuration>
